/*
    Autores:
        Bruno Lenitta Machado
        Nicolas Mitjans Nunes
*/
#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#content p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}

input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 14px;
}

button {
    background-color: #0077cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #005fa3;
}

.marker {
    color:red;
    font-size:20px;
}
