/* Autor: Nícolas Mitjans Nunes

/*Design da parte principal da página*/
#content {
    flex: 1;/*Ocupar todo o espaço vertical*/
    display: flex;
    /*Modifica os alinhamentos*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px; /*Modifica o tamanho*/
    background-color: #eef4f9; /*Modifica as cores*/
}

#content p {
    /*Modifca os tamanhos*/
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0077cc; /*Modifica a cor*/
}

form {
    /*Modifica o display*/
    display: flex;
    flex-direction: column;
    /*Modifica os tamanhos*/
    gap: 15px;
    width: 250px;
}

input {
    /*Modifica os tamanhos*/
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 14px;
}

input:focus {
    border-color: #0077cc; /*Modifica a cor*/
    outline: none;
}

button {
    /*Modifica as cores*/
    background-color: #0077cc;
    color: white;
    /*Modifica os tamanhos*/
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer; /*Modifica o cursor quando o mouse está sobre o botão*/
    transition: background 0.3s; /*Faz com que a transição da cor do botão ocorra mais fluida*/
}

button:hover {
    background-color: #005fa3; /*Modifica a cor do fundo*/
}

#message {
    /*Modifica tamanhos*/
    margin-top: 15px;
    font-size: 15px;
}

/*Modifica as cores do sucesso e dos erros*/
.msg-success { color: green; }
.msg-error { color: red; }
