/*
    Autores:
        Bruno Lenitta Machado
        Nicolas Mitjans Nunes
*/

/*Design da parte principal da página*/
#content {
    flex: 1;/*Ocupar todo o espaço vertical*/
    display: flex;
    /*Modifica os alinhamentos*/
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 40px; /*Modifica o tamanho*/
}

#content p {
    /*Modifica os tamanhos*/
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-size:40px; /*Modifica o tamanho da fonte*/
}

h3 {
    font-size:30px; /*Modifica o tamanho da fonte*/
}

#content div {
    margin-top: 15px; /*Modifica o tamanho da margin top*/
}

#content a {
    color: #0077cc; /*Modifica a cor*/
    /*Modifica os textos*/
    text-decoration: none; 
    font-size: 14px;
    text-decoration: underline;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*Modifica os tamanhos*/
    gap: 20px;
    width: 100%;
    padding: 30px;
    /*Modifica os alinhamentos*/
    justify-items: center;
    align-items: start;
}

.pessoa {
    /*Modifica a forma de display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /*Modifica tamanhos*/
}

.pessoa p {
    /*Modifica tamanhos*/
    font-size: 16px;
    margin: 0;
}
.pessoa img {
    /*Modifica tamanhos*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}